.t{
    width:50px;
    height:25px;
    border-radius:20px;
    border:1px solid #999;
    background-color:white;
    position:fixed;
    top:1.4%;
    right:1.4%;
    z-index: 999;
    display:flex;
    align-items:center;
    justify-content:space-around;
    cursor:pointer;
}
.t-icon{
    height:15px;
    width:15px;
}
.t-button{
    width:25px;
    height:25px;
    border-radius: 50%;
    background-color:#222222;
    position:absolute;
    cursor:pointer;
    transition: all 0.1s ease-in;
}